   table {
      border-collapse: separate;
      border-spacing: 8px;
      margin: 20px auto;
      font-family: Arial, sans-serif;
    }

    th, td {
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 0.5rem 1rem;
      text-align: center;
    }

    th {
      font-weight: bold;
      background: #fff;
    }
    tbody tr:nth-child(even) td {
      background-color: #f2f2f2;
    }