    table {
      border-collapse: separate;
      border-spacing: 0 8px; 
      width: 300px;
    }
    th, td {
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 0.5rem;
      text-align: center;
    }
    th {
      font-weight: bold;
    }
    tr:nth-child(odd) td {
      background-color: #ffffff;
    }
    tr:nth-child(even) td {
      background-color: #f2f2f2;
    }
